<div class="jumbotron">
  <div class="container">
  	<div class="center">
		  	<h1>Education Search API</h1>
		  	<h2>We make it easy to track Our politicans every word, literally.</h2>
    </div>

    <%= render 'filter' %>
  </div>
</div>